@model System.Web.Mvc.HandleErrorInfo
@{
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="author" content="HeZhao"/>
    <meta name="description" content="MvcMusicStore"/>
    <meta name="keywords" content="MvcMusicStore,音乐商店,歌手专辑,专辑,CD"/>
    <title>错误</title>
    <style type="text/css">
        p {
            font-weight:bold;
        }
    </style>
</head>
<body>
    <h2>
        抱歉，处理您的请求时出错。
    </h2>
    <p>控制器：@Model.ControllerName</p>
    <p>动作方法：@Model.ActionName</p>
    <p>错误描述：@Model.Exception.Message</p>
</body>
</html>